html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
    body
        select(class="custom-select")
            option(selected) Выберите тип
            option Landing Page
            option Корпоративный сайт
            option Онлайн магазин
        div(class="select-wrapper")
        script(src="js/main.js")